name: Lint
'on':
  pull_request:
  push:
    branches:
      - master

jobs:
  yaml-lint:
    name: YAML Lint
    runs-on: ubuntu-latest

    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v2

      - name: Set up Python 3.8.
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Install test dependencies.
        run: python3 -m pip install yamllint

      - name: Run yamllint.
        run: yamllint user-data
  
  shell-lint:
    name: Shellcheck
    runs-on: ubuntu-latest

    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v2

      - name: Install test dependencies.
        run: apt install shellcheck -y

      - name: Run yaml lint.
        run: shellcheck bin/*